body {background-color: #ECF0F1;
display: block;
background-color:#BDC3C7;
			}
			


.contenedor{

    position:absolute;
	width: 100%;
	height: 6%;
	background-color:#3498DB;
	
	}

.columnleft{

	position:absolute;
	width:  278px;
	height: 720px;
	background-color:white;
	margin-top: 42px;
	margin-left:0px;
	}
	
.columnright{

	position:absolute;
	width:  720px;
	margin-left:279px;
	margin-top:42px;
	height: 720px;
	background-color: white;
	}
	
.titulo{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 0px;
	margin-left: 40px;
	background-color:white;
	}	
	
.separador{

    position:absolute;
	width:  800px;
	height: 0px;
	background-color: black;
	margin-top: 25px;
	margin-left: 40px;
	background-color:white;
	}	
.columnright2{

	position:absolute;
	width:  279px;
	margin-left:1000px;
	margin-top:42px;
	height: 720px;
	background-color: white;
	}
	
.nombre{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 60px;
	margin-left: 18px;
	background-color:white;
	}
	
	
	
	
	
	
.bloque-principal{

position:absolute;
	width:  80%;
	margin-left:20%;
	margin-top:39px;
	height: 93%;
	background-color: white;
	}	
	
.columnleft .usuariodefault
{
   margin-left:53px;
   margin-top:45px;
   
}
	
h1 {
font-family: 'Belleza', sans-serif;
color: #2C3E50;
position: absolute;
font-size: 32px;
font-weight: 700;
margin-left:55px;
margin-top:0;

}


h2 {
font-family: 'Trykker', serif;
color: black;
position: absolute;
font-size: 22px;
font-weight: 700;
margin-left:0px;
margin-top:3px;

}

h3 {
font-family: 'Trykker', serif;
color: black;
font-size: 14px;
}





input.todo-search-field {
font-family: 'Trykker', serif;
background-color: white;
border: none;
color: #34495e;
font-size: 16px;
font-weight: 900;
margin-left: 279px;
margin-top:4px;
line-height: 23px;
padding: 5px 0;
text-indent: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.contenedor .home {
position:absolute;
margin-left: 880px;
margin-top: 2px;
z-index:9;
}
.contenedor .settings {
position:absolute;
margin-left: 929px;
margin-top: 4px;
z-index:9;
}
.contenedor .lock {
position:absolute;
margin-left: 970px;
margin-top: 2px;
z-index:9;
}
.contenedor .message {
position:absolute;
margin-left: 146px;
margin-top: 2px;
z-index:9;
}
.contenedor .friends {
position:absolute;
margin-left: 198px;
margin-top: 4px;
z-index:9;
}

.login-link {
color: #bfc9ca;
display: block;
font-size: 14px;
margin-top: 10px;
margin-left: 92px;
}

