body {background-color: #ECF0F1;
display: block;
background-color:#FFFFFF;
height:100%;
			}
			
.formu{
position:absolute;
margin-top:80px;
margin-left:300px;
z-index:9;
}
.formu .letracolor{
color: black;
}

.formu2{
position:absolute;
margin-top:150px;
margin-left:265px;
z-index:9;
}

.formu2 .letralcolor2{
color: black;
}


.contenedor{

    position:relative;
	width: auto;
	height: auto;
	background-color:#3498DB;
	
	}

	.columnleft{

	position:absolute;
	width:  278px;
	height: 720px;
	background-color:white;
	margin-top: auto;
	margin-left:0px;
	}
	
.columnright{

	position:absolute;
	width:  720px;
	margin-left:279px;
	height: 720px;
	background-color: white;
	}

        .bloque-principal{

position:absolute;
	width:  80%;
	margin-left:20%;
	margin-top:39px;
	height: 93%;
	background-color: white;
	}	
	
.columnleft .usuariodefault
{
   margin-left:53px;
   margin-top:45px;
   
}
	
h1 {
font-family: 'Belleza', sans-serif;
color: #2C3E50;
position: absolute;
font-size: 32px;
font-weight: 700;
margin-left:55px;
margin-top:0;

}


h3 {
font-family: 'Trykker', serif;
color: black;
font-size: 14px;
}

.photos{

margin-top:30px;
font-family: 'Trykker', serif;
color: black;
margin-left:23px;
font-size: 16px;
}

.h12{
position:absolute;
margin-top: 3px;
margin-left: 76px;
}
.h11{
position:absolute;
margin-top:28px;
margin-left:76px;

}

.photoicon {
position:absolute;
margin-top:0px;
margin-left:30px;
z-index:9;
}

.photoicon2 {
position:absolute;
margin-top:24px;
margin-left:30px;
z-index:9;
}

.h10 {
font-size: 22px;
color: black;
position: absolute;
margin-top:25px;
margin-left: 10%;
    
    
    
}

h4 {
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
    font-weight: 400; 
    color: #06C;
}

h5 {
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    font-weight: 100; 
    color: #999
}

h2 {
font-family: 'Share Tech', sans-serif;
color: black;
font-size: 22px;
font-weight: 400;
}


        
        
.columnright .cuadro{
    margin-top:25px;
    margin-left:52px;
    margin-right:285px;
    color:white;
    width:70%;
    height:677px;
    background-color:white;
}
.columnright2{

	position:absolute;
	width:  279px;
	margin-left:1000px;
	margin-top:42px;
	height: 100%;
	background-color: white;
	}



	
.titulo{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 0px;
	margin-left: 40px;
	background-color:white;
	}	
	

.nombre{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 60px;
	margin-left: 18px;
	background-color:white;
	}
	
	
	
	

	

	
h1 {
font-family: 'Belleza', sans-serif;
color: #2C3E50;
position: absolute;
font-size: 32px;
font-weight: 700;
margin-left:55px;
margin-top:0;

}


h2 {
font-family: 'Trykker', serif;
color: black;
position: absolute;
font-size: 22px;
font-weight: 700;
margin-left:0px;
margin-top:3px;

}

h3 {
font-family: 'Trykker', serif;
color: black;
font-size: 14px;
}

.photos{

margin-top:30px;
font-family: 'Trykker', serif;
color: black;
margin-left:23px;
font-size: 16px;
}

.h10{
position:absolute;
margin-top:3px;
margin-left:76px;

}
.h11{
position:absolute;
margin-top:28px;
margin-left:76px;

}


.fotoDefault {
position:absolute;
margin-top:60px;
margin-left:31px;
}

.cover{
position:absolute;
margin-top: 235px;
margin-left:44px;
}







input.todo-search-field {
background-color: white;
border: none;
color: #34495e;
font-size: 16px;
margin-left: 20%;
margin-top:4px;
line-height: 23px;
width: 25%;
text-indent: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.contenedor .lupa {
position:absolute;
margin-left: 47%;
margin-top: 6px;
z-index:9;
}
	

.contenedor .home {
position:absolute;
margin-left: 91%;
margin-top: 2px;
z-index:9;
}
.contenedor .settings {
position:absolute;
margin-left: 94%;
margin-top: 4px;
z-index:9;
}
.contenedor .lock {
position:absolute;
margin-left: 97%;
margin-top: 2px;
z-index:9;
}
.contenedor .message {
position:absolute;
margin-left: 14%;

z-index:9;
}
.contenedor .friends {
position:absolute;
margin-left: 198px;
margin-top: 4px;
z-index:9;
}


.login-link {
color: #bfc9ca;
display: block;
font-size: 14px;
margin-top: 10px;
margin-left: 92px;
}


li .min	{
	background: url(../imagenes/base1.png);
	width: 75px;
	height: 64px;
	padding: 6px 20px 20px 7px;
	}
	
#titulos	{
	padding: 10px;
	text-align: center;
	}
	
#borde	{
	width: 398px;
	height: 300px;
	position: absolute;
	top: 111px;	/* Provoca la separacion del borde superior */
	left: 320px;	/* Separa la imagen grande de la pequea */
	background: url(/Users/carlosromero/Documents/galeria/img/grandes/1.jpg);
	}

.cat	{
	list-style-type: none;
	margin: 59px 0 25px 10px; /* Eliminacion de vieta en IE6 */
	padding: 0px; /* Eliminacion de vieta en IE6 */
	float:left;
	
	}
	
.max{
	visibility: hidden;
	position: absolute;
	top: 111px;	/* Provoca la separacion del borde superior */
	left: 320px;	/* Separa la imagen grande de la pequea */
    
	}
	
a:hover .max	{
	visibility: visible;
	}
	
	
.login-link {
position:absolute;
color: #bfc9ca;
display: block;
font-size: 14px;
margin-top: 10px;
margin-left: 92px;
}


.photoicon2 {
position:absolute;
margin-top:24px;
margin-left:30px;
z-index:9;
}


.h10{
font-size: 22px;
color:black;
position:absolute;
margin-top:25px;
margin-left:48px;

}

.separador{

    position:absolute;
	width:  1076px;
	height: 0px;
	background-color: black;
	margin-top: 40px;
	margin-left: 18px;
	background-color:white;
	}
	
.separador2{

    position:absolute;
	width:  1076px;
	height: 0px;
	background-color: black;
	margin-top: 183px;
	margin-left: 18px;
	background-color:white;
	}

.btn.btn-primary {
margin-left: 100px;
background-color: #3498DB;
border: 1px white solid; 
}
.btn.btn-large {
font-size: 16.996px;
line-height: 20px;
padding: 0px 6px 1px;
}
.btn {
background: #3498DB;
color: #ECF0F1;
padding: 0px 6px 1px;
line-height: 22px;
text-decoration: none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.span3{
width: 146px;
position: absolute;
margin-top: -46%;
margin-left: 298px;
}

