body {background-color: #ECF0F1;
display: block;
background-color:#FFFFFF;
			}
			

.contenedor{

    position:absolute;
	width: 100%;

	background-color:#3498DB;
	
	}

.columnleft{

	position:absolute;
	width:  278px;
	height: 720px;
	background-color:white;
	margin-top: 42px;
	margin-left:0px;
	}
	
.columnright{

	position:absolute;
	width:  720px;
	margin-left:279px;
	margin-top:42px;
	height: 720px;
	background-color: white;
	}
	
.titulo{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 0px;
	margin-left: 40px;
	background-color:white;
	}	
	
.separador{

    position:absolute;
	width:  800px;
	height: 0px;
	background-color: black;
	margin-top: 25px;
	margin-left: 40px;
	background-color:white;
	}	
.columnright2{

	position:absolute;
	width:  279px;
	margin-left:1000px;
	margin-top:42px;
	height: 720px;
	background-color: white;
	}
	
.nombre{

    position:absolute;
	width:  680px;
	height: 42px;
	background-color: black;
	margin-top: 60px;
	margin-left: 18px;
	background-color:white;
	}
	
	
	
	
	
	
.bloque-principal{

position:absolute;
	width:  80%;
	margin-left:20%;
	margin-top:39px;
	height: 93%;
	background-color: white;
	}	
	
.columnleft .usuariodefault
{
   margin-left:53px;
   margin-top:45px;
   
}
   
   .columnright .usuariodefault2
{
   margin-left:53px;
   margin-top:45px;
   
}
	
h1 {
font-family: 'Belleza', sans-serif;
color: #2C3E50;
position: absolute;
font-size: 32px;
font-weight: 700;
margin-left:55px;
margin-top:0;

}


h2 {
font-family: 'Trykker', serif;
color: black;
position: absolute;
font-size: 22px;
font-weight: 700;
margin-left:0px;
margin-top:3px;

}

h3 {
font-family: 'Trykker', serif;
color: black;
font-size: 14px;
}






input.todo-search-field {
background-color: white;
border: none;
color: #34495e;
font-size: 16px;
margin-left: 20%;
margin-top:4px;
line-height: 23px;
width: 25%;
text-indent: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.contenedor .lupa {
position:absolute;
margin-left: 47%;
margin-top: 6px;
z-index:9;
}
	

.contenedor .home {
position:absolute;
margin-left: 91%;
margin-top: 2px;
z-index:9;
}
.contenedor .settings {
position:absolute;
margin-left: 94%;
margin-top: 4px;
z-index:9;
}
.contenedor .lock {
position:absolute;
margin-left: 97%;
margin-top: 2px;
z-index:9;
}
.contenedor .message {
position:absolute;
margin-left: 14%;

z-index:9;
}
.contenedor .friends {
position:absolute;
margin-left: 198px;
margin-top: 4px;
z-index:9;
}

.login-link {
color: #bfc9ca;
display: block;
font-size: 14px;
margin-top: 10px;
margin-left: 92px;
}

.radio.checked {
color: black;
}
.checkbox, .radio {
margin-bottom: 12px;
padding-left: 32px;
position: relative;
-webkit-transition: color 0.25s linear;
-moz-transition: color 0.25s linear;
-o-transition: color 0.25s linear;
transition: color 0.25s linear;
-webkit-backface-visibility: hidden;
}
.radio, .checkbox {
min-height: 20px;
padding-left: 20px;
}
label {
display: block;
margin-bottom: 5px;
}
label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
cursor: pointer;
}
user agent stylesheetlabel {
cursor: default;
}
Inherited from body
body {
color: #34495e;
font-family: "Lato", sans-serif;
font-size: 14px;
line-height: 1.231;
}