body {background-color: white;
display: block;
margin-left:auto;
margin-right:auto;
			}

.login-link {
color: #bfc9ca;
display: block;
font-size: 14px;
margin-top: 15px;
text-align: center;
}

.contenedor{

    position:absolute;
	width: 30%;
	height: 12%;
	background-color:#3498DB;
}

.youtube {

position:absolute;
z-index:2;
height: 50px;
margin-left: 290px;
margin-top: 260px;
border: none;
}
.instagram {
position:absolute;
z-index:2;
height: 50px;
margin-left: 490px;
margin-top: 280px;
border: none;
}
.soundcloud {
position:absolute;
z-index:2;
height: 50px;
margin-left: 695px;
margin-top: 255px;
border: none;
}
.contenedor2{

    position:absolute;
	width: 80%;
	height: 12%;
	background-color:#ECF0F1;
	margin-left:295px;
}



h1 {
position:absolute;
font-family: 'Belleza', sans-serif;
color: white;
position: absolute;
font-size: 64px;
font-weight: 700;
margin-left:140px;
margin-top:24px;
z-index:9;

}

h4 {
color: #2980B9;
position: absolute;
text-align: justify;

font-size: 32px;
font-weight: 700;
line-height: 1.2;
margin-left:297px;
margin-right:250px;
margin-top:150px;

}

h2 {
color: #3498DB;
font-size: 38px;
font-weight: 700;
margin-left: 60%;
margin-top:30px;

}

.facebook {

position:absolute;
z-index:2;
margin-left: 83%;
margin-top: 2%;
}

h5 {
color: #95A5A6;
position: absolute;
text-align: center;

font-size: 16px;
font-weight: 700;
line-height: 1.2;
margin-left:530px;
margin-top:51%;

}
.separador{

    position:absolute;
	height: 0px;
	background-color: black;
	margin-top: 48%;
	}	
	
